# Unity specific
[Ll]ibrary/
[Ll]ogs/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ocal[Cc]ache/
[Uu]ser[Ss]ettings/

# Rider and other IDEs
.idea/
.vscode/
*.sln
*.csproj
*.user

# OS specific
.DS_Store
Thumbs.db

# Temp files
*.tmp
~*
